#title {
    font-family: Verdana;
    font-size:50px;
    color:white;
    text-align:center;
}

#comingSoon, a{
    text-align: center;
}

body {
    background-color: black;
    font-family: Verdana
}

video {
    margin:auto;
}

header {
    text-align:center;
}


h1 {
    text-align: center;
    color:white;
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
}

a {
    text-align: center;
    color:aquamarine;
    font-size: 16px;
}

p {
    text-align: center;
    font-family: Verdana;
    font-size:21px;
    color:grey;
}

.footer p{
    text-align:right;
}
